# these are files that we need for development, but they are not need in the target repositories,
# where the components will be imported, so they can be ignored by the package manager
# (obviously yarn doesn't recognize this yet and just includes all files in the repo,
# but it will probably do so in the future)

.jest
.storybook
.vscode
build
.coverage
.editorconfig
.eslintignore
.eslintrc.js
.sassdocrc
.stylelintrc.js
jest.config.js
postcss.config.js
yarn.lock
