/* 
 * This is the standard config from storybook.
 * We need to put it here again, so the 'build-storybook' command doesn't use our babel settings
 * from the root folder, which makes the build crash, but we need to have it for Jest to work.
 * (unfortunately there is no option to ignore a present .babelrc in storybook yet)
 */
{
  "presets": [
    ["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] }, "modules": "commonjs" }], 
    "stage-0", 
    "react"
  ],
  "plugins": [ 
    "transform-regenerator", 
    [
      "transform-runtime", {
        "helpers": true,
        "polyfill": true,
        "regenerator": true
      }
    ]
  ]
}